/*::after*/
#after::after {
  content: "This is the content I added with the after pseudo selector!";
  }

a#active-link {
  color: red;
  text-decoration: none;
}

a#active-link:active {
  color: purple;
  text-decoration: underline;
}

li#adjacent p + p {
  color: green;
}
