.review {
  color: red!important;
  font-weight: bold;
}

/*::after*/
#after::after {
  content: "This is the content I added with the after pseudo selector!";
  }

a#active-link {
  color: red;
  text-decoration: none;
}

a#active-link:active {
  color: purple;
  text-decoration: underline;
}

li#adjacent p + p {
  color: green;
}

p#blank:blank {
  background: blue;
}

p#before::before {
  content: "I'm the before content!  Shh, I'm not really part of the DOM :)";
}

#checked input:checked + label{
  color: green;
}

li#child ul > li {
  color: purple;
}
